.bg-primary{
  background: $theme-primary-orange-color !important;
}
.bg-secondary{
	background: $theme-secondary-gray-color !important;
}
.bg-secondary-dark{
	background: #4F5052 !important;
}
.color-white{
	color: #FFF !important;
}